<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.finalproj_minor_gr2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar.Transparent">
        <activity android:name=".college.SchoolDashboardActivity"></activity>
        <activity android:name=".teacher.FollowedStudentActivity" />
        <activity android:name=".teacher.TeacherSearchStudentActivity" />
        <activity
            android:name=".message.MessageNameLIstActivity"
            android:label="@string/title_activity_message_name_list"
            android:theme="@style/AppTheme" />
        <activity android:name=".teacher.TeachersHomeActivity" />
        <activity android:name=".student.MessageActivity" />
        <activity android:name=".student.FollowedUsersActivity" />
        <activity android:name=".student.StudentProfEditActivity" />
        <activity android:name=".student.SearchCollegeActivity" />
        <activity android:name=".student.SearchSchoolActivity" />
        <activity android:name=".student.StudSearchTeacherActivity" />
        <activity android:name=".teacher.TeacherEditActivity" />
        <activity android:name=".student.TeachersListActivity" />
        <activity
            android:name=".student.StudentProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RegistrationActivity" />
        <activity
            android:name=".LoginACtivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>